---
import FormattedDate from "./FormattedDate.astro";
export interface Props {
  title: string;
  description?: string;
  date: Date;
  image?: string;
  url?: string;
  web?: string;
  github?: string;
  vertical?: boolean;
  externUrl?: boolean;
  draft?: boolean;
  type?: "blog-post" | "app";
}

const {
  title,
  image = "/placeholder-about.jpg",
  date,
  url,
  vertical = false,
  description,
  externUrl,
  type,
  draft,
  github,
  web,
} = Astro.props;
---

<div
  class:list={[
    "bcard comeFromBelow",
    vertical ? "vstack w-min-content" : "hstack f-wrap",
  ]}
>
  <a
    href={url}
    class:list={["card-image-anchor p-0", !url && "no-pointer"]}
    target={externUrl ? "_blank" : undefined}
  >
    <img src={image} />
  </a>
  <div>
    <a data-transition-page-link class="p-0" href={url}>
      {
        type === "blog-post" && (
          <i class="fa fa-pencil-square-o card-type" title="Blog post" />
        )
      }
      {type === "app" && <i class="fa fa-rocket card-type" title="App" />}
      {title}</a
    >
    {draft && <span class="text-c-unfocus">DRAFT</span>}
    <br />
    {description && <p class="description">{description}</p>}
    <div class="date-links hstack">
      <FormattedDate date={date} />
      <div class="links hstack">
        {
          github && (
            <a
              data-transition-page-link
              class="p-0"
              href={github}
              target="_blank"
            >
              <i class="fa-brands fa-github font-icon-button" title="Github" />
            </a>
          )
        }
        {
          web && (
            <a data-transition-page-link class="p-0" href={web} target="_blank">
              <i class="fa-solid fa-globe font-icon-button" title="Website" />
            </a>
          )
        }
      </div>
    </div>
  </div>
</div>

<style>
  img {
    border-radius: var(--border-radius);
    object-fit: cover;
    object-position: center center;
    height: 200px;
    width: 280px;
    filter: grayscale(100%);
    transition: filter 0.2s;
  }
  .description {
    max-width: 500px;
  }
  .card-image-anchor {

  }
  .card-image-anchor:hover > img {
    filter: grayscale(0%);
  }
  .no-pointer {
    cursor: default !important;
  }

  .card-type {
    font-size: 0.8rem;
    margin-right: 2px;
  }

  .date-links {
    gap: 50px !important;
  }
</style>
