---
import FormattedDate from "./FormattedDate.astro";
export interface Props {
  title: string;
  description?: string;
  date: Date;
  image?: string;
  url?: string;
  vertical?: boolean;
  externUrl?: boolean;
}

const {
  title,
  image = "/placeholder-about.jpg",
  date,
  url,
  vertical = false,
  description,
  externUrl,
} = Astro.props;
---

<div
  class:list={["bcard comeFromBelow", vertical ? "vstack w-min-content" : "hstack f-wrap"]}
>
  <a
    href={url}
    class:list={["card-image-anchor p-0", !url && "no-pointer"]}
    target={externUrl ? "_blank" : undefined}
  >
    <img src={image} />
  </a>
  <div>
    <a class="p-0" href={url}>{title}</a>
    <br />
    {description && <p class="description">{description}</p>}
    <FormattedDate date={date} />
  </div>
</div>

<style>
  footer {
    padding: 25px;
    text-align: center;
  }
  img {
    border-radius: 5px;
    object-fit: cover;
    object-position: center center;
    height: 200px;
    width: 300px;
    filter: grayscale(100%);
    transition: filter 0.2s;
  }
  .bcard a,
  .bcard a:visited {
    color: var(--color-text);
  }
  .bcard .description {
    max-width: 500px;
  }
  .card-image-anchor:hover > img {
    filter: grayscale(0%);
  }
  .no-pointer {
    cursor: default !important;
  }
</style>
