---
import {
  MY_NAME,
  PERSONAL_GITHUB,
  PERSONAL_LINKEDIN,
  SITE_MADE_IN_YEAR,
  PERSONAL_EMAIL,
  PERSONAL_INSTA,
} from "../consts";
---

<footer>
  <div class="footer-content">
    <h2 id="contact">Contact</h2>
    <div class="social">
      <a href={`mailto:${PERSONAL_EMAIL}`}>{PERSONAL_EMAIL}</a>
      <a target="_blank" referrerpolicy="no-referrer" href={PERSONAL_INSTA}
        >Instagram</a
      >
      <a
        target="
        _blank"
        referrerpolicy="no-referrer"
        href={PERSONAL_LINKEDIN}>LinkedIn</a
      >
      <a target="_blank" referrerpolicy="no-referrer" href={PERSONAL_GITHUB}
        >Github</a
      >
    </div>
    <h4 style="text-align: center">
      • Made with <span>❤</span> by
      <a href={PERSONAL_GITHUB}>{MY_NAME}</a>
      • {SITE_MADE_IN_YEAR} •
    </h4>
  </div>
</footer>

<style is:inline>
  footer {
    background-color: black;
    color: white;
    padding: 0;
  }

  footer a {
    text-decoration: underline;
    color: white;
    padding: 0;
    &:visited {
      color: white;
    }
  }

  footer a:hover {
    color: black;
    background-color: white;
  }

  .footer-content {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: calc(var(--v-gap) * 4) var(--h-gap);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: calc(var(--h-gap));
  }

  .social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(var(--h-gap) / 4);
  }

  .social a {
    font-size: 25px;
    padding: calc(var(--v-gap) / 2) var(--h-gap);
  }
</style>
