---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import Base from "./Base.astro";

type Props = CollectionEntry<"blog">["data"];

const {
  title,
  description,
  pubDate,
  updatedDate,
  heroImage,
  keywords,
  bannerImage,
  github,
  web,
} = Astro.props;

const image = bannerImage || heroImage;
---

<Base
  title={title}
  description={description}
  keywords={keywords}
  image={heroImage}
>
  <main class="main-content">
    <article class="article-post comeFromBelow">
      {image && <img src={image} alt="" />}
      <h1 class="title">{title}</h1>
      <div>
        <FormattedDate date={pubDate} />
        {
          updatedDate && (
            <div class="last-updated-on">
              Last updated on <FormattedDate date={updatedDate} />
            </div>
          )
        }
        <div class="links hstack">
          {
            github && (
              <a
                data-transition-page-link
                class="p-0"
                href={github}
                target="_blank"
              >
                <i
                  class="fa-brands fa-github font-icon-button"
                  title="Github"
                />
              </a>
            )
          }
          {
            web && (
              <a
                data-transition-page-link
                class="p-0"
                href={web}
                target="_blank"
              >
                <i class="fa-solid fa-globe font-icon-button" title="Website" />
              </a>
            )
          }
        </div>
      </div>
      <hr />
      <div class="article-content">
        <slot />
      </div>
    </article>
  </main>
</Base>

<style>
  .title {
    margin-top: var(--v-gap);
  }
  hr {
    border-top: 1px solid #ddd;
    margin: 1rem 0;
  }
  .last-updated-on {
    font-style: italic;
  }

  img {
    border-radius: var(--border-radius);
    object-fit: cover;
    object-position: center center;
    height: 500px;
    width: 100%;
    aspect-ratio: 1;
  }

  .article-content {
    font-size: 18px;
  }
</style>
